{% extends 'chat/base.html' %}



{% block content %}
<style>
    .main-message {
        padding: 10px;
        border-radius: 20px;
        max-width: 60%;
        word-wrap: break-word;
        font-size: 16px;
        font-weight: bolder;
    }

    .main-message.user {
        background-color: #6637f3;
        color: white;
        align-self: flex-end;
    }

    /* Message from the bot */
    .main-message.bot {
        background-color: #ffffff;
        color: #1a1a1a;
        align-self: flex-start;
    }
    .sending{
        background-color: #0072dc !important;
        animation:blinker 0.8s linear infinite;
    }
    .recieving{
        background-color: #ffffff !important;
        color: #757575;
        animation: shimer 0.8s linear infinite;
    }

    @keyframes shimer {
        0% {
            background-color: #f0f0f0;
        }
        50% {
            background-color: #e0e0e0;
        }
        100% {
            background-color: #f0f0f0;
        }
    }
    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
     .chat-input {
        max-height: 100px;
        min-height:42px !important;/* Set maximum height */
        resize: none;
    }
</style>
{% if request.user.is_authenticated %}
<i class="fa-regular fa-ellipsis-stroke-vertical"></i>
  
<div class="main-chat">
    <div class="main-chat-header">
        <div class="chat-profile d-flex flex-row">
            <div class="chat-profile-img"></div>
            <div class="main-chat-profile-user mx-2  d-flex flex-column">
                <b> {{bot.name}}</b>
                <small class="font-small" style="font-size: 8px;">@{{bot.uuid}}</small>
            </div>
        </div>
    </div>
    <div class="chat-messages">
        <div class="message bot">need your <br>
            favourite person?</div>
        <div class="message user">ofc..but how?</div>
    </div>
    <div class="chat-input-container px-2">
        <textarea type="text" class="cs-form-control chat-input pt-2" placeholder="type message.."></textarea>
        <button class="send-btn"><i class="fa-solid fa-circle-arrow-right"></i></button>
    </div>

</div>
{% else %}
<div class="main-chat d-flex justify-content-center align-items-center">

    <div class="page-message text-white text-center ">
        <b>
            <h2>to access your person please</h2>
        </b>
        <a href="{% url 'login-user' %}"><button class="cs-button">login</button></a>
    </div>
</div>
{% endif %}


<script>
    let chat_id;
    let chatSocket;
    function scrollToBottom() {
            const chatMessages = document.querySelector('.chat-messages');
            chatMessages.scrollTop = chatMessages.scrollHeight;
        }

         document.querySelector('.chat-input').addEventListener('input', function () {
                const chatInput = this;
                let height = $('.chat-input').val().length;
                console.log(height);
                let n = height ;
                console.log(n);
                chatInput.style.height = n*50 + 'px'; // Set height based on content
                scrollToBottom(); // Ensure chat stays scrolled to bottom
            });



    function connectChatWs() {
        chatSocket = new WebSocket(
            'ws://' + "127.0.0.1:8000" + '/ws/chat/' + chat_id + '/'
        );
        chatSocket.onopen = function (e) {
            console.log('WebSocket connection opened');
        };

        chatSocket.onclose = function (e) {
            console.log('WebSocket connection closed');
        };

        chatSocket.onerror = function (e) {
            console.error('WebSocket error:', e);
        };
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log("data", data);
            $(".chat-messages").find('.sending').remove();
            $(".chat-messages").find('.recieving').remove();
            $(".chat-messages").append(generateChatToHtml(data));
            scrollToBottom();  // Scroll to bottom after appending the message
        };

    }



    function generateChatToHtml(chatMsg) {

        let message = `<div class="main-message ${chatMsg.sender} ${chatMsg.status}">${chatMsg.message}</div>`;
        return message;
    }

    function renderChatsToHtml(chats) {
        let chatMessages = $(".chat-messages");
        $(".chat-messages").html("");
        chats.forEach(chat => {
            let message = `<div class="main-message ${chat.sender} ">${chat.message}</div>`;
            chatMessages.append(message);
        });
        scrollToBottom();  // Scroll to bottom after rendering all chats
    }

    function buildchat() {
        $.ajax({
            url: "http://127.0.0.1:8000/load-chat?chat_id=" + chat_id,
            type: "GET",
            success: function (response) {
                console.log(response);
                renderChatsToHtml(response["data"]);
            },
            error: function (error) {
                console.log(error);
            }
        });
    };



    document.addEventListener('DOMContentLoaded', function () {
        scrollToBottom();
    });

    // send message if enter key is pressed

    document.querySelector('.chat-input').onkeyup = function (e) {
        if (e.keyCode === 13) {
            document.querySelector('.send-btn').click();
        }
    };

    document.querySelector('.send-btn').onclick = function (e) {
            if (chatSocket.readyState === WebSocket.OPEN) {
                const messageInputDom = document.querySelector('.chat-input');
                const message = messageInputDom.value;
                if (message.trim() === "") {
                    return;
                }
                chatSocket.send(JSON.stringify({ 'message': message, "is_bot": "False" }));
                messageInputDom.value = '';

                // Reset input height after sending a message
                messageInputDom.style.height = 'auto';

                $(".chat-messages").append(generateChatToHtml({ 'message': message, 'status': "sending", "sender": "user" }));
                $(".chat-messages").append(generateChatToHtml({ 'message': "typing...", 'status': "recieving", "sender": "bot" }));
                scrollToBottom();
            } else {
                console.error('WebSocket is not open. ReadyState: ', chatSocket.readyState);
            }
        };

    $(document).ready(function () {
        $.ajax({
            url: "http://127.0.0.1:8000/init-chat",
            type: "POST",
            data: {
                'user_id': "{{request.user.id}}",

            },
            success: function (response) {
                console.log(response);
                chat_id = response['data']['chat_id']
                buildchat();
                connectChatWs();
            },
            error: function (error) {
                console.log(error);
            }
        })
    });

    



   
</script>


{% endblock content %}